.member-short-name {
    font-size: 28px;
}

.member-card {
    width: 192px;
    height: 244px;
    box-shadow: 0px 1px 16px 1px rgba(17, 24, 39, 0.05);
    background-image: url('/src/assets/Pattern.png');
    /* margin: 48px 32px; */
    margin-top: 48px;
    margin-right: 32px;
}

.search-box {
    border: 1px solid #9CA3AF;
}